<div class="footer">
  <br>
    <div class="ig2">
      <img width="50" alt="ig" src="../src/app/img/ig.png">
    </div>
    <div class="fb2">
      <img width="60" alt="fb" src="../src/app/img/fb.png">
    </div>
    <div class="wa2">
        <img width="50" alt="wa" src="../src/app/img/telpon.png">
    </div>
    <div class="alamat2">
        <img width="50" alt="alamat" src="../src/app/img/rumah.png">
    </div>
  <div class="ig"><br>
    @PolinemaJoss<br>
    @ManajemenInformatikaPolinema<br>
    @TeknologiInformasiPolinema<br>
  </div>
  <div class="fb"><br>
    PolinemaJoss<br>
    TeknologiInformasiPolinema<br>
    ManajemenInformatikaPolinema<br>
  </div>
  <div class="wa"><br>
    (0341) 404424 POLINEMA<br>
    089517188338  TI<br>
    082331362452 MI<br>
  </div>
  <div class="alamat"><br>
    Gedung AF dan Sipil lt 7 - 8 <br>
    Jl. Soekarno Hatta No.09, Jatimulyo, Kec. Lowokwaru, Kota Malang, Jawa Timur 65141
  </div>
</div>